/* Global styles
------------------------------------*/
body {
  border-style: solid;
  border-color: darkred;
  margin: 40px;
  padding: 40px;
}

.content-wrap{
  width: 800px;
  margin: 0 auto;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}

form.y{
  visibility: visible;
}

form.n{
  visibility:hidden;
}
